body {
    margin-left: 1em;

}
h1 {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    animation: rainbow 8s ease infinite;
}
  
@keyframes rainbow { 
      0%{background-position:0% 50%}
      50%{background-position:100% 25%}
      100%{background-position:0% 50%}
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image {
    width: 500px;
    height: 500px;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 0px;
}